.mine{
	color:yellow;
	text-align: center;
vertical-align: middle;
padding-top: 20%;
font-size: 50px;


}
body{
	background: url("http://i.dawn.com/large/2015/12/567d1ca45aabe.jpg");
	background-size: cover;
	background-position: center;
}